$primary-color-1: #18ba8a;
$primary-color-2: #303239;
$primary-color-3: #20201d;
$primary-color-4: #ED1C24;
$primary-color-5: #FFFFFF;

$secondary-color-1: #3F51B5;
$secondary-color-2: #428BCA;
$secondary-color-3: #2EC4B6;
$secondary-color-4: #F44336;
$secondary-color-5: #c2c2c2;
$secondary-color-6: #F7F7F7;

$border-color: #ced4da;